<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ubhave.sensormanager.tester"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <!-- PULL SENSOR PERMISSIONS -->

    <!-- Application -->
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!-- Bluetooth -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!-- Call Content -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- Camera -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    
    <!-- Microphone -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    
    <!-- SMS Content -->
    <uses-permission android:name="android.permission.READ_SMS" />
    
    <!-- WiFi -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    
    <!-- PUSH SENSORS -->
    
    <!-- Battery -->
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    
    <!-- Connection State -->
    <!-- Declared Above <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> -->
    <!-- Declared Above <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> -->
    
    <!-- Phone State -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    
    <!-- SMS -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <!-- Declared Above <uses-permission android:name="android.permission.READ_SMS" /> -->
    
    <!-- Gyroscope -->
    <uses-feature android:name="android.hardware.sensor.gyroscope" android:required="true" />

    <application
        android:name=".ApplicationContext"
        android:icon="@drawable/ic_launcher"
        android:allowBackup="false"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SensorListActivity" />
        <activity android:name=".pull.ConfigurablePullSensorExampleActivity" />
        <activity android:name=".pull.NonConfigurablePullSensorExampleActivity" />
        <activity android:name=".push.PushSensorExampleActivity" />
        <activity android:name=".pull.UpdateSensorConfigExampleActivity" />
    </application>

</manifest>