<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ubhave.triggermanager.tester"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <application
        android:name=".ApplicationContext"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.TriggerListActivity" />
        <activity android:name=".ui.clock.ClockTriggerActivity" />
        <activity android:name=".ui.clock.IntervalTriggerActivity" />
        <activity android:name=".ui.clock.RandomTriggerActivity" />
    </application>

</manifest>